body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c; /* Темный серый цвет для фона */
    color: white; /* Белый цвет для текста */
    transition: background-color 0.5s, color 0.5s; /* Плавный переход */
}

header {
    background-color: #4CAF50; /* Зеленый цвет для заголовка */
    color: white;
    padding: 10px; /* Уменьшение отступа в заголовке */
}

nav {
    margin: 15px 0; /* Уменьшение верхнего и нижнего отступа */
}

nav a {
    margin: 0 10px; /* Уменьшение отступа между ссылками */
    text-decoration: none;
    color: #4CAF50; /* Цвет ссылок */
}

section {
    display: none;
    padding: 15px; /* Уменьшение отступа в секциях */
}

section.active {
    display: block;
}

.progress {
    margin: 15px 0; /* Уменьшение отступа между прогресс-барами */
    text-align: left;
}

.progress-container {
    background-color: #444; /* Цвет контейнера прогресса в темном режиме */
    border-radius: 5px;
    overflow: hidden;
    height: 15px; /* Уменьшение высоты контейнера прогресса */
}

.progress-bar {
    background-color: #4CAF50; /* Зеленый цвет для прогресс-бара */
    height: 100%; /* Высота прогресс-бара по высоте родителя */
    width: 0;
    transition: width 1s;
}

.light-mode {
    background-color: #f0f0f0; /* Светло-серый фон для светлого режима */
    color: black; /* Цвет текста при светлом режиме */
}

.light-mode .progress-container {
    background-color: #ccc; /* Цвет контейнера прогресса в светлом режиме */
}

.theme-toggle {
    display: inline-block; /* Делаем элемент интерактивным */
    cursor: pointer; /* Курсор указывает, что элемент можно нажимать */
    font-size: 24px; /* Размер иконки */
    padding: 5px; /* Отступ для уменьшения области */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column; /* Вертикальное размещение ссылок */
        align-items: center; /* Центрирование ссылок */
    }

    nav a {
        margin: 8px 0; /* Уменьшение отступа между ссылками */
    }

    section {
        padding: 10px; /* Уменьшение отступов в секциях */
    }

    header {
        padding: 10px; /* Уменьшение отступов в заголовке */
    }
}
